OPENWEATHER_API_KEY=your_openweather_api_key
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appname>
MONGO_DB=weather_data
CITY_LIST=Lagos,Accra,Johannesburg
DUCKDB_PATH=./analytics.duckdb
AIRBYTE_RAW_PATH=/tmp/airbyte_local/weather_raw.duckdb
